@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;

  --primary: 0 0% 100%;
  --primary-foreground: 0 0% 0%;
}

/* body {
  background-color: black;
  color: white;
  letter-spacing: -0.02em;
  font-size: 14px;
} */

@font-face {
  font-family: "Telegraf";
  src: url(../public/font/TelegrafRegular_272984568a25d8528fe2de8b20b29011.otf)
    format("truetype");
}

body {
  font-family: "Telegraf" !important;
  background-color: #030a10 !important;
  color: white;
  letter-spacing: -0.02em;
  font-size: 14px;
  --s: 30px; /* Reduced size for smaller grid */
  --n: 5;
  --t: 1px;
  --g: 3px; /* Reduced gap for smaller grid */
  --c: #4f56574d 25%, #0000 0;
  background: conic-gradient(at var(--g) var(--t), var(--c))
      calc((var(--s) / var(--n) - var(--g) + var(--t)) / 2) 0 /
      calc(var(--s) / var(--n)) var(--s),
    conic-gradient(from 180deg at var(--t) var(--g), var(--c)) 0
      calc((var(--s) / var(--n) - var(--g) + var(--t)) / 2) / var(--s)
      calc(var(--s) / var(--n));
}

h1 {
  font-size: 3.5rem;
  line-height: 1.1;
  letter-spacing: -0.03em;
  font-weight: 600;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: -0.03em;
  font-weight: 600;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.3;
  letter-spacing: -0.02em;
  font-weight: 600;
}

.text-outline {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float-animation {
  animation: float 6s ease-in-out infinite;
}

span {
  line-height: 1;
}
